body {
    height: 100%;
}

html {
    --correct-color: #66BB6A;
    --incorrect-color: #EF5350;
}

.correct{
    background-color: var(--correct-color);
}

.wrong{
    background-color: var(--incorrect-color);
}

.mdl-mini-footer {
    background-color: #262626;
    height: 35px;
    padding: 15px;
}

.mdl-logo {
    margin: 0;
    padding: 0;
}

.mdl-layout__header-row {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}

.mdl-layout__header a {
    color: white;
    text-decoration: none !important;
    margin: inherit;
    padding-left: 40px;
}

.mdl-layout__header-row img{
    margin-left: -40px;
    height: 150px;
    width: 150px;
}

.mdl-layout-title{
    margin-left: -15px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
}

.mdl-layout__content {
    background-color: #434343;
}

.mdl-layout {
    height: 100%;
}

.main-card{
    width: 100%;
    min-width: 100%;
}

.totalScore {
    color: black;
    font-size: 1.25rem !important;
}

.mdl-card__title-text {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 2rem;
}

.pointCategory {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 1.2rem;
}

.loading {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.randomfact {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
    text-align: center;
}

.randomfact a {
    font-size: 0.8rem;
    color: black;
}

.card-img {
    height: 250px;
    width: 100%;
    object-fit: contain;
}

.question-section {
    width: 100%;
    text-align: center;
}

.question-section button {
    margin-bottom: 10px;
}

.progress {
    margin-right: 5px;
    width: 15px !important;
    height: 15px !important;
    border: black solid 2.5px;
    border-radius: 15px;
}

.center-lower-section{
    text-align: center;
}

.mdl-layout-title-mobile {
    display: none;
}

.incorrectButton {
    transition: background-color 0.3s ease-in;
    background-color: var(--incorrect-color) !important;
}

.correctButton {
    transition: background-color 0.3s ease-in;
    background-color: var(--correct-color) !important;
}


@media only screen and (max-width: 768px) {
    header  .mdl-layout-title {
        display: none;
    }
    header .mdl-layout-title-mobile{
        display: block;
    }

    .mdl-layout__header a {
        margin: auto;
        padding-left: 0;
    }

    header {
        height: 25px;
    }

    header img {
        width: 100px !important;
        height: 100px !important;
    }

    header span {
        font-size: 2.5rem !important;
    }

    .mdl-layout__header-row {
        padding-top: 27px;
    }

    .mdl-mini-footer {
        height: 15px;
    }

    .mdl-mini-footer .mdl-logo {
        margin-top: -10px;
    }
}

.melonfact {
    animation: 0.3s ease-in-out 0s 1 slideInFromLeft;
}

.slideInCardFromLeft {
    animation: 0.5s ease-in-out 0s 1 slideInFromLeft;
}

.disableBtn {
    pointer-events: none;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-25%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* FOR MATERIAL ICONS TWOTONE */
.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}


.hide {
    display: none;
}