body {
    height: 100%;
}

html {
    --correct-color: #81C784;
    --incorrect-color: #E57373;
}

.mdl-mini-footer {
    background-color: #262626;
    height: 50px;
    padding: 15px;
}

.mdl-logo {
    margin: 0;
    padding: 0;
}

.mdl-layout__header-row {
    padding-top: 50px;
    padding-bottom: 50px;

}

.mdl-layout__header-row {
    margin-left: -50px;
}

.mdl-layout-title{
    margin-left: -15px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
}

.mdl-layout__content {
    background-color: #434343;
}

.mdl-layout {
    height: 100%;
}

.main-card{
    width: 100%;
    min-width: 100%;
}

.totalScore {
    color: black;
    font-size: 1.25rem !important;
}

.mdl-card__title-text {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 2rem;
}

.pointCategory {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 1.2rem;
}

.randomfact {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
    text-align: center;
}

.card-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.question-section {
    width: 100%;
    text-align: center;
}

.question-section button {
    margin-bottom: 10px;
}

.progress {
    margin-right: 5px;
    width: 15px !important;
    height: 15px !important;
    border: black solid 2.5px;
    border-radius: 15px;
}

.center-lower-section{
    text-align: center;
}

.mdl-layout-title-mobile {
    display: none;
}


@media only screen and (max-width: 768px) {
    header  .mdl-layout-title {
        display: none;
    }
    header .mdl-layout-title-mobile{
        display: block;
    }

    .mdl-layout__header-row {
        margin-left: 0;
    }
}

/* FOR MATERIAL ICONS TWOTONE */
.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}


.hide {
    display: none;
}

.unhide {
    display: inherit;
}